/* Navbar Styles */
.navbar_cima {
  background-color: #b7b7b7;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-left: 15px; /* Espaço entre os links */
}

li img {
  height: 40px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  transition: scale 1s;
}

li a:hover {
  scale: 1.15;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container_welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome_name {
  font-family: "Arial", sans-serif;
  width: 200px;
  font-size: 20px;
  color: #ffffff;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
}


/* Dashboard Styles */
.dashboard {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  color: #ffffff;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
}

/* Buttons Styles */
#openDialog_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
  transition: scale 1s;
}

#openDialog_button:hover {
  scale: 1.15;
}

#closeDialog_button {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
}

#versao {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
}
#welcome_dialog{
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
}
/* Change name configuration styles */
#name_input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#changeName_button {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #333333;
    padding: 5px;
    border-radius: 12px;
    transition: scale 1s;
    cursor: pointer;
}

#changeName_button:hover {
    transform: scale(1.05);
}
#faq_helper_txt{
  position: fixed;
  bottom: 15px;
  left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 15px;
  border-radius: 20px;
}
#faq_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: font-size 0.5s;
}

#faq_link:hover {
  color: #b7b7b7;
}


