/* Navbar Styles */
.navbar_cima {
  background-color: #b7b7b7;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-left: 15px; /* Espaço entre os links */
}

li img {
  height: 40px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  transition: scale 1s;
}

li a:hover {
  scale: 1.15;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Dashboard Styles */
.dashboard {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  color: #ffffff;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
}

/* Buttons Styles */
#openDialog_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
  transition: scale 1s;
}

#openDialog_button:hover {
  scale: 1.15;
}

#closeDialog_button {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
}

#versao {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #333333;
  padding: 10px;
  border-radius: 12px;
}
