.navbar_cima {
    background-color: #b7b7b7;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: scale 1s;
}

a:hover {
    scale: 1.15;
}

#dialog_server_info {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #333333;
    padding: 15px;
    border-radius: 50px;
}

#button_server_info {
    position: fixed;
    top: 80px;
    left: 20px;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    border-radius: 12px;
    transition: scale 1s;
}

#button_server_info:hover {
    scale: 1.1;
}

#closeDialog_button_server {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    border-radius: 12px;
}
