button{
    border:none;
}
#navbar_main {
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    background-color: #b7b7b7;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.container_sensor {
    position: relative;
    color: white;
    text-align: center;
    margin-right: 850px;
    transition: scale 1s;
}
.container_sensor:hover{
    scale: 1.15;
}
.text_img {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: black;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main_name {
    font-family: "Arial", sans-serif;
    margin: auto;
}

#temperature_img {
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 20px;
    width: 400px;
    opacity: 30%;
}


@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .container_sensor {
        margin-right: 0; /* Remove the right margin */
    }

    #temperature_img {
        width: 100%; /* Set the width to 100% */
    }
}

.container_welcome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #welcome_name {
    font-family: "Arial", sans-serif;
    width: 200px;
    font-size: 20px;
    color: #ffffff;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  #welcome_dialog{
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    border-radius: 12px;
  }
  #name_input {
    background-color: #333333;
    color: white;
      margin-bottom: 20.5px;
      width: 200px;
      height: 25px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  #closeDialog_welcome{
    color: white;
    background-color: #333333;
  }
  #changeName_button {
      font-family: "Arial", sans-serif;
      font-size: 12px;
      color: #ffffff;
      background-color: #333333;
      padding: 5px;
      border-radius: 12px;
      transition: scale 1s;
      cursor: pointer;
  }