button {
  border: none;
}

#voltar_main{
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #302f2f;
  background-color: #a2a1a1;
  border-radius: 10px;
  padding: 10px;
  border:none;
  transition: scale 1s;
}
#voltar_main:hover {
  scale: 1.15;
}

/* Navbar Styles */
.navbar_cima {
  position:absolute;
  left: 0;
  top:0;
  width: 100%;
  background-color: #b7b7b7;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-left: 15px; /* Espaço entre os links */
}

li img {
  height: 40px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  transition: scale 1s;
}

li a:hover {
  scale: 1.15;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Dashboard Styles */
.dashboard {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  color: #ffffff;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
}

#changeName_button:hover {
    transform: scale(1.05);
}
/* nav bar bottom styles */
.index_navbar_bottom {
  display: flex;
  align-items: center;
  position:fixed;
  bottom: 0;
  padding: 10px;
  height: 40px;
  width: 100%;
  background-color: #333333;
  left: 0;
}

#faq_helper_txt{
  display: inline;
  width: 300px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #ffffff;
  padding: 15px;
  border-radius: 20px;
}
#faq_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: font-size 0.5s;
}

#faq_link:hover {
  color: #b7b7b7;
}

